// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.post {
  margin-bottom: 1em;
}

.page,
.post {
  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title {
}
.page-title,
.post-title {
  margin-top: 0;
}
.post-title a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// Meta data line below post title
.post-date {
  display: block;
  color: var(--gray-600);
  font-size: 80%;
}


// Related posts
.related {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-2);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    small {
      color: var(--gray-600);
    }
  }
}

.layout__aside-content {
    margin: auto;
    width: 50%;
    padding: 10px;
    @media (min-width: 1280px) {
        position: absolute;
        right: -200px;
    }
}

.about {
    margin-bottom: 30px;
    margin-top: -30px;
}

.article_with_image {
    .float_left {
        float: left;
        margin-right: 20px;
    }
}
